{% extends 'layout/base.html' %}

{% block title %}Class{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for c in classes %}
            <div class="col-md-3">
                <div class="card">
                  <img class="card-img-top" src="{{ url_for('static', filename='images/instagram.jpg') }}" alt="Card image">
                  <div class="card-body">
                    <h4 class="card-title">{{ c.name }}</h4>
                      <p>Sĩ số {{ c.siso }}</p>
                    <a href="#" class="btn btn-primary">{{ c.grade.name }}</a>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
