{% extends 'layout/base.html' %}

{% block title %}Diem{% endblock %}

{% block content %}
<h1>ĐIỂM TOÁN</h1>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Họ tên</th>
          <th>Điểm 15'</th>
          <th>Điểm 15'</th>
          <th>Điểm 15'</th>
          <th>Điểm 15'</th>
          <th>Điểm 15'</th>
          <th>Điểm 1 tiết</th>
          <th>Điểm 1 tiết</th>
          <th>Điểm 1 tiết</th>
          <th>Điểm cuối kỳ</th>
      </tr>
    </thead>
    <tbody>
<!--    {% for s in students %}-->
<!--      <tr>-->
<!--        <td>{{ s.ho }} {{ s.ten }}</td>-->
<!--        {% for d in diems %}-->


<!--        {% endfor %}-->
<!--      </tr>-->
<!--    {% endfor %}-->

    </tbody>
  </table>

{% endblock %}
